body {
  font-family: 'Arial', sans-serif;
}
body {
  background-color: #bfbebe;
}

.card-wrapper {
  position: relative;
  width: 88.9mm;
  height: 50.8mm;
  background-color: #ffffff;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 10mm;
    
}

.card1-background {
  background-color: #ffffff;
  height: 100%;
}

.rectangle-top{
  top: -30mm;
  width: 51px;
  height: 220px;
  background-color: rgb(255, 165, 0);
  position: absolute;
  left: 38mm;
  transform: rotate(90deg);
}
.rectangle-left{
  top: 8mm;
  width: 51px;
  height: 277px;
  background-color: rgb(255, 165, 0);
  position: absolute;
  left: 24mm;
  transform: rotate(90deg);
}
.rectangle-right{
  top: 16mm;
  width: 39px;
  height: 247px;
  background-color: #232121;
  position: absolute;
  left: 54mm;
  transform: rotate(90deg);

}

.card1-content
{
  margin-left: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 7pt;
  transform: translate(-30%, -50%);
  text-align: start;
  color: #333;

}
.party-name
{
  font-family: Roboto;
  position: relative;
  top: 10mm;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: inherit;
  width: 186pt;
  font-size: 13px;
  font-weight: bold;
  left: -11.5mm;
  letter-spacing: 1px;
}

.party-job-title
{
  font-family: Roboto;
  font-optical-sizing: auto;
  font-size: 6px;
  margin-top: 8pt;
  position: relative;
  top: 7mm;
  left: -12mm;
  letter-spacing: 1px;
}

.org-logo-img
{
  position: relative;
  top: -9mm;
  max-width: 71%;
  height: 9mm;
  left: -19mm;
    
}

.party-phone{
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 2mm;
  margin-top: 16pt;
  position: relative;
  top: -37pt;
  left: 54pt;
}

.party-email{
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 6pt;
  position: relative;
  top: -37pt;
  left: 53pt;
}

.party-phone-lable{
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
  padding-left: 3pt;
}
  
.party-phone-number{
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
      
}
  
.party-email-lable{
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
  padding-left: 3pt;
}
  
.party-email-address{
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
    
}

.card2-background{
  background-color: #ffffff;
  height: 100%;
}

.rectangle-1st{
  top: -30mm;
  width: 51px;
  height: 220px;
  background-color: rgb(255, 165, 0);
  position: absolute;
  left: 38mm;
  transform: rotate(90deg);
}

.rectangle-2nd{
  position: relative;
  top: 44mm;
  left: 7mm;
  width: 103.9mm;
  height: 12.8mm;
  background-color: rgb(255, 164, 0);
  overflow: hidden;
    
}

.rectangle-3rd{
  top: 26mm;
  width: 71px;
  height: 126px;
  background-color: #232121;
  position: absolute;
  left: 5mm;
  transform: rotate(90deg);
}

.rectangle-4th{
  top: 11mm;
  width: 1.5px;
  height: 115px;
  background-color: #232121;
  position: absolute;
  left: 23mm;
  transform: rotate(90deg);
}
.rectangle-5th{
  top: 23.1mm;
  width: 3.5px;
  height: 24px;
  background-color: #eaa009;
  position: absolute;
  left: 10.5mm;
  transform: rotate(90deg);
}

.card2-content{
  position: absolute;
  top: 85px;
  left: 63px;
  transform: translate(-27%, -52%);
  text-align: center;
  color: #181717;
    
}

.qr-img{
  position: relative;
  top: -31pt;
  left: -10pt;
  width: 50px;
  height: 47px;
}

.qr-code{
  top: 87pt;
  left: 16pt;
  position: absolute;
}

.org-name{
  width: 35mm;
  line-height: 94%;
  text-align-last: inherit;
  position: absolute;
  top: 3px;
  left: -2pt;
  font-style: normal;
  font-size: 15pt;
}

.org-address{
  position: absolute;
  top: 56pt;
  left: 98px;
  font-style: normal;
  font-size: 6px;
  width: 51mm;
  text-align: justify;
}
.org-email{
  position: relative;
  left: 43mm;
  top: 5mm;
  font-size: 11px;
}
  
.org-phone{
  position: relative;
  top: -15pt;
  left: 161px;
  font-style: normal;
  font-size: 9pt;
}

.org-website{
  position: relative;
  top: 5pt;
  left: 122pt;
  font-style: normal;
  font-size: 9pt;
  width: 37mm;
  height: auto;
}

